# Python environment files
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Private Data & Sales Dumps (CRITICAL)
*.xlsx
*.csv
!template_party_master.xlsx
!template_sales_dump.xlsx
!user_settings.json

# Generated Logs and Exports
logs/
exports/
custom_groups.json
PyWhatKit_DB.txt
user_settings.json
